html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
	border: 0px solid transparent;
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 30px;
}

a{
	text-decoration: none;
	color: hsl(0, 0%, calc(var(--lightness-offset, 0%) + 0%));    
}

a:hover{
	--lightness-offset: 7%;
}

a:active{
	--lightness-offset: -10%;
}

li{
	list-style-type: none;
}

img{
	max-width: 100%;

}
 /*
p {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

h1 {
  font-size: clamp(1.75rem, 4vw + 1rem, 3rem);
}
*/
button{
    border-radius: 1em;
    border: none;
	background-color: hsl(210, 86%, calc(var(--lightness-offset, 0%) + 57%));    
	color: white;
    padding: 0.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

button:hover{
	--lightness-offset: 7%;
}

button:active{
	--lightness-offset: -10%;
}

.navbar{
    display: flex;
    padding: 1em;
}

.container{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 2fr 1fr;
    background-image: url(/img/bh7.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#left-bar{

    
}
#description{
    text-transform: capitalize;
}
#city{

}
#temp{
    font-size: 4rem;
    font-weight: bold;
}
#feels{

}
#center{
    display: grid;
    grid-template-rows: max-content 1fr;
    place-items: center;
}
#search-bar{
    outline: none;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 1em;
}
#time{

    font-size: 15rem;
    font-weight: bold;
}
#right-bar{
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.5em;
    justify-content: end;
    align-content: center;

}
.group{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
}
.group > .material-icons-outlined{
    grid-row: span 2;
    font-size: 2.5rem;
    color: rgba(189, 189, 189, 0.856);
}

.group .text{
    color: rgba(189, 189, 189, 0.856);
    font-size: 1rem;
}

.group .value{
    font-weight: bold;
    font-size: 1.5rem;
}
#humidity{
    
}
#pressure{
    
}
#wind{
    
}
#footer{
    grid-column: span 3;
    border: solid green;
}