html {
  font-size: clamp(14px, 1vw, 16px);
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
	border: 0px solid transparent;
    font-family: Roboto, sans-serif;
    color: white;
    background-image: url(img/background.jpg);
/*     background-position: center;  */
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100vw;
    min-height: 100vh;
}

a{
	text-decoration: none;
	color: hsl(0, 0%, calc(var(--lightness-offset, 0%) + 0%));    
}

a:hover{
	--lightness-offset: 7%;
}

a:active{
	--lightness-offset: -10%;
}

li{
	list-style-type: none;
}

img{
	max-width: 100%;

}
 /*
p {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

h1 {
  font-size: clamp(1.75rem, 4vw + 1rem, 3rem);
}
*/
button{
    border-radius: 1em;
    border: none;
	background-color: hsl(210, 86%, calc(var(--lightness-offset, 0%) + 57%));    
	color: white;
    padding: 0.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

button:hover{
	--lightness-offset: 7%;
}

button:active{
	--lightness-offset: -10%;
}

.navbar{
    display: flex;
    padding: 1em;
}

.container{
        /* Hide page until JS is fully loaded*/
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: clamp(10px, 1.2vw, 32px);
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 65vh 30vh;

}

#icon{
    width: 8rem;;
}

#left-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#description{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: rgba(189, 189, 189, 0.856);
}

#info{
    padding-left: 2rem;
}

#city{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
#temp{
    margin-top: 1.5rem;
    font-size: clamp(48px, 2vw + 30px, 64px);
    font-weight: bold;
}
#feels{
    font-size: 1.2rem;
    color: rgba(189, 189, 189, 0.856);

}
#center{
    display: grid;
    grid-template-rows: max-content 1fr;
    place-items: center;
}
#search-bar{
    outline: none;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid thin rgba(189, 189, 189, 0.856);;
    background-color: transparent;
    color: white;
    text-align: center;
}
#time{

    font-size: clamp(130px, 16vw ,240px);
    font-weight: bold;
}
#right-bar{
    display: grid;
    grid-auto-rows: max-content;
    gap: 3rem;
    justify-content: end;
    align-content: center;
    padding-right: 2rem;

}
.group{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
}
.group > .material-icons-outlined{
    grid-row: span 2;
    font-size: 2.5rem;
    color: rgba(189, 189, 189, 0.856);
}

.group .text{
    color: rgba(189, 189, 189, 0.856);
    font-size: 1rem;
}

.group .value{
    font-weight: bold;
    font-size: clamp(18px, 2vw, 24px);
}
#humidity{
    
}
#pressure{
    
}
#wind{
    
}

#wind-value-direction{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#wind-direction{
    width: 2.5rem;
}
#forecast{
    grid-column: span 3;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.forecast-day{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.forecast-temp-max{
    font-size: 2rem;
    font-weight: bold;
}

.forecast-icon{
    width: 4rem;;
}

.forecast-flex{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.forecast-icon-sm{
    width: 1.5rem;
}

@media (max-width: 1200px) {
  [data-index="7"]{
    display: none;
  }
}

@media (max-width: 900px) {
  [data-index="6"]{
    display: none;
  }
}

@media (max-width: 800px) {



    #time {
        display: none;
    }

    .container{
        /* Hide page until JS is fully loaded*/
        padding: 0px;
        grid-template-columns: 1fr;
        gap: 15px;
        grid-template-rows: 5vh 10vh 15vh 60vh;
        
    }

    #forecast{
        grid-column: 1;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }

    .forecast-card{
        display: grid;
        grid-template-columns: 80px 50px 60px 45px 50px 55px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    .forecast-icon{
        width: 2.5rem;
    }
    .forecast-temp-max{
        font-size: 1.2rem;
    }
    .forecast-day{
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .forecast-wind{
        justify-self: end;
    }

    #center{
        margin-top: 1rem;
        grid-row: 1;

    }
    #right-bar{
        display: grid;
        grid-template-columns: 110px 110px 110px;
        gap: 1rem;
        justify-content: center;
        align-items: baseline;
        justify-items: center;
        padding-right: 1rem;
        margin-bottom: 1rem;

    }
    #info{
        display: flex;
        align-items: flex-end;
        gap: 30px;

    }
    .forecast-icon-sm{
        display: none;
    }

    .group{
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 0.5rem;
    }
    .group > .material-icons-outlined{
        grid-row: span 2;
        font-size: 1.5rem;
        color: rgba(189, 189, 189, 0.856);
    }

    .group .text{
        color: rgba(189, 189, 189, 0.856);
        font-size: 1rem;
    }

    .group .value{
        font-weight: bold;
        font-size: 1.1rem;
    }
    
    #wind-direction{
        width: 1.5rem;
    }

    #left-bar{
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    #icon{
    width: 4rem;;
    }

    #description{
    font-size: 1.2rem;

    }

    #info{
        padding-left: 1rem;
    }

    #city{
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }
    #temp{
        margin-top: 1.5rem;
        font-size: 2rem;
    }
    #feels{
        font-size: 1.2rem;
        color: rgba(189, 189, 189, 0.856);

    }

}